html,body{
    background: lightgrey;
}
.text-center{
    margin-right: 21%;
}
.input-center{
    margin-left: 20%;
}

.container{
    padding-top: 15%;
    padding-left: 23%;
}
.reg_container{
    padding-top: 2%;
    padding-left: 23%;
}
table{
    margin-left: 0%;
    margin-top: 3%;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  